html,body{
  font-size: 13px;
}
.settings{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .set-ele{
    margin:10px;
  }
  label{
    display: block;
  }

  input{
    border: solid 1px #ccc;
    padding:5px 8px;
    margin:5px 0;
    border-radius:5px;
  }

  button{
    padding:5px 12px;
    margin:10px 0 15px;
  }
}

.save-info{
  display: flex;
  flex-wrap: wrap;
  table{
    margin:10px;
  }
  .info-table{
    flex: 1 1 auto;
    padding:10px;
  }
  table,td,th{
    border:solid 1px #ccc;
  }
}

.button,
button{
  padding:5px 12px;
  background:#fff;
  border:solid 1px #ccc;
  border-radius:3px;
  font-size: 1rem;
  &:hover{
    background:#f2f2f2;
    cursor:pointer;
  }
}


.milk-type{
  display: flex;
  justify-content: center;
  .type-ele{
    margin:10px;
    display: inline-flex;
  }
}

