.calculator {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-section {
    margin-bottom: 20px;
}

.powder-section, .fresh-section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

h2 {
    margin-top: 20px;
}

.saved-info-section {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
